<!DOCTYPE html>

<html language="fr" ng-app="onTime">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="components/bootstrap/css/bootstrap.css" media="screen" />
</head>

<body ng-controller="Timesheet">
    <p class="text-center" ng-hide="accessToken" style="margin-top: 3em">
        <a href="{{loginUrl}}">Log in using your google account</a>
    </p>

    <table ng-show="accessToken" class="table" style="margin: 4em; width: 80em">
        <tr>
            <th style="width:14%">{{DAYS.monday}}</th>
            <th style="width:14%">{{DAYS.tuesday}}</th>
            <th style="width:14%">{{DAYS.wednesday}}</th>
            <th style="width:14%">{{DAYS.thursday}}</th>
            <th style="width:14%">{{DAYS.friday}}</th>
            <th style="width:14%">{{DAYS.saturday}}</th>
            <th style="width:14%">{{DAYS.sunday}}</th>
        </tr>
        <tr ng-repeat="line in calendarGrid">
            <td ng-repeat="cell in line" 
                style="background-color: {{(cell.today && '#f0f0f0') || 'white'}}">
                {{cell.day}}
                <ul class="unstyled">
                    <li ng-repeat="lateness in cell.latenesses">
                        <span tooltip="{{lateness.duration}} mn" tooltip-placement="right"
                            style="font-weight: {{(lateness.duration > 60) && 'bold' || 'medium'}}; color: {{(lateness.duration > 0) && 'red' || 'green'}}">
                            {{lateness.startTime}}
                            {{lateness.event}}
                        </span>
                    </li>
                </ul>
            </td>
        </tr>
    </table>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="components/angular-1.0.7/angular.min.js"></script>
    <script src="components/angular-ui-bootstrap-0.3.0/ui-bootstrap-tpls-0.3.0.js"></script>
    <script src="js/messages.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/timesheet.js"></script>

</body>
</html>
